.Rproj.user
.Rhistory
.RData
.Ruserdata
analyses/team3/reports/data/raw/defendant_docket_details.Rds
analyses/team3/reports/data/raw/offenses_dispositions.Rds
analyses/team3/reports/data/raw/bail.Rds
